*{
	margin: 0;
	padding: 0;
}
header{
	background-image: url("https://images.unsplash.com/photo-1553532646-968536ab10e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
	height: 100vh;
	background-size: cover;
	background-position: center;
}